// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono');
$first-color: #89E0FF;
$second-color: #FEFEFE;
$gray-color: #333;
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Mono', serif;

@mixin small{
	@media (max-width: 750px) {
		@content;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.section-navigation {
	z-index: 1;
	position: fixed;
	right: .5em;
	bottom: 5%;
	width: 1.25em;
	height: auto;
	li{
		list-style: none;
		cursor: pointer;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		border: 1px solid darken($first-color, 50%);
		margin-bottom: .5em;
		transition: ease-in-out 200ms;
		&:hover{
			border-color: transparent;
			box-shadow: 0px 0px 8px 1px darken($first-color, 50%);
			transform: scale(1.15);
			}
	}
}
.section{
	width: 100%;
	height: auto;
	min-height: 300px;
	position: relative;
	@include small {
		min-height: 400px
	}
	&:nth-child(2n+1) {
		background: $first-color;
	}
	&:nth-child(2n){
		background: $second-color;
	}
}
.innercontent {
	width: 70%;
	margin: 0 auto;
	padding: 5% 0;
	font-family: $body-font;
	font-size: 1.15em;
	font-weight: 300;
	line-height: 1.5em;
	@include small {
		width: 65%;
		padding: 10% 0 10% 3em;
	}
	p, img { margin: .5em 0; }
	img { max-width: 100%; }
	h1{
		font-family: $heading-font;
		font-size: 1.5em;
		line-height: 1.5em;
		opacity: .9;
		margin: 1em 0 1em 1em;
	}
}		
.heading{
	width: 90%;
	margin: 0 auto;
	padding: 2% 0 0 0;
	font-family: $heading-font;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	@include small {
		flex-direction: column;
		-webkit-flex-direction: column;
		position: absolute;
		top: 1em;
		left: 1em;
	}
	.number, .title {
		display: block;
		position: relative;
	}
	.number{
		font-size: 3.15em;
		color: darken($first-color, 20%);
	}
	.title {
		color: $gray-color;
		width: 100%;
		font-size: 1.5em;
		margin-left: 3em;
		line-height: 2.75em;
		letter-spacing: .125em;
		text-transform: uppercase;
		transform-origin: 0% 50%;
		-webkit-transform-origin: 0% 50%;
		transition: transform 200ms;
		-webkit-transition: transform 200ms;
		@include small{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			top: 1.5em;
			left: -1.5em;
		}
		&:before{
			position: absolute;
			content: '';
			display: block;
			left: -2.25em;
			top: 50%;
			width: 1.75em;
			height: 2px;
			background-color: $gray-color;
		}
	}
}